body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 250px;
    padding-top: 90px;
}
.frontespizio{
    height: 150px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: initial;
    background-color: lightskyblue;
}
#intestazione{
    background-color:blue;
    color: white;
    text-align: left;
}
.riga-dispari{
    background-color: skyblue;
}
h4{
    color: grey;
    margin-bottom: 8px;
}
table{
    border-collapse: collapse;
}