.logo{
    width: 250px;
}
.frontespizio{
    height: 150px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: initial;
}
#intestazione{
    background-color:blue;
    color: white;
    text-align: left;
}
.riga-dispari{
    background-color: skyblue;
}
h4{
    color: grey;
    margin-bottom: 8px;
}