body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 250px;
    padding-top: 90px;
}
main{
    text-align: center;
}
.frontespizio{
    height: 150px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: initial;
    background-color: lightskyblue;
}
.container{
    padding: 10px
}
#intestazione{
    background-color:blue;
    color: white;
    text-align: left;
}
.riga-dispari{
    background-color: skyblue;
}
h4{
    color: grey;
    margin-bottom: 8px;
}
table{
    border-collapse: collapse;
}
#desk{
    background-image: url(../img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    color: aliceblue;
}
#graph{
    background-image: url(../img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
    color: aliceblue;
}
.img-title{
    padding: 10px;
    font-size: 25px;
}